@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* text-align: center; */
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
}
/**===========================================================
               
===========================================================**/
#banner_s{
  background-image: linear-gradient(#00000091, #000000b5), url(images/donation5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.some_contain {
  width: 57%;
  margin: auto;
  text-align: center;
  padding: 150px 0px;
}

.some_contain h1 {
  font-size: 62px;
  color: white;
}
.some_contain {
  width: 57%;
  margin: auto;
  text-align: center;
  padding: 163px 0px;
}

.some_contain h1 {
  font-size: 62px;
  color: white;
}

.some_contain p {
  padding-bottom: 92px;
  color: white;
  margin-top: 30px;
}


a.button_link {
  color: white;
  text-decoration: none;
  background-color: orange;
  padding: 13px 46px;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
}

a.button_link:hover {
  background-color: tomato;
  border: 1px solid white;
}
/**===========================================================
               
===========================================================**/
section#donate_section {
  margin-top: 100px;
  text-align: center;
}

.don_container {
  width: 52%;
  margin: auto;
  border-bottom: 2px solid gray;
  padding-bottom: 29px;
  margin-bottom: 30px;
}

.d_top_s h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.d_top_s p {
  color: gray;
  text-align: center;
}

.taka_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 39px;
  text-align: center;
  margin-bottom: 46px;
  /* overflow: hidden; */
  margin-left: -6px;
}

.taka_box a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-weight: 900;
  background-color: #ff634752;
  padding: 34px 8px;
  margin: 12px;
  border-radius: 26px;
  display: block;
  width: 132px;
  border: 2px solid tomato;
  transition: 0.5s;
}
.taka_box a:hover {
  background-color: #ffa500b5;
}
.taka_box a:hover {
  background-color: #ffa500b5;
}
a#other_a {
  /* margin-bottom: 15px; */
  color: bll;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
/**===========================================================
               
===========================================================**/
section#donate_plan_s {
  margin-top: 161px;
  padding-bottom: 100px;
}

.container {
  width: 84%;
  margin: auto;
}

.box_wrapper {
  width: 100%;
  margin: at;
  display: flex;
  justify-content: space-around;
  /* overflow: hidden; */
}

.singel_box {
  width: 20%;
  /* float: left; */
  background-color: #7d7de78a;
  padding: 39px;
  /* margin-left: 69px; */
}

.box_wrapper {}
section#donate_plan_s {
  margin-top: 161px;
}

.container {
  width: 84%;
  margin: auto;
}

.box_wrapper {
  width: 100%;
  margin: at;
  display: flex;
  justify-content: space-around;
  /* overflow: hidden; */
  margin-top: 63px;
}

.singel_box {
  width: 20%;
  /* float: left; */
  background-color: #7d7de78a;
  padding: 39px;
  /* margin-left: 69px; */
  border-radius: 22px;
}

.box_wrapper {}

.top_box i {
  font-size: 76px;
  text-align: center;
  color: black;
}

.top_box {
  text-align: center;
  margin-bottom: 59px;
}

.bottom_box h3 {
  font-size: 24px;
  border-bottom: 2px solid white;
  display: inline-block;
  margin-bottom: 20px;
}

.bottom_box p {
  color: gray;
  text-align: left;
}
.top_box {
}

div#secound_box {
    background-color: pink;
}

div#trithd_box {
    background-color: palegreen;
}
/**===========================================================
               
===========================================================**/
footer#footer_s {
  background-color: black;
  color: white;
}

.f_contain {
  width: 78%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 51px 0px;
}

.connect_info {
  width: 18%;
}